button a {
    text-decoration: none;
    color: black;
}

button a:hover {
    cursor: inherit;
}

pre {
    font-family: monospace;
}

p {
    font-size: 100%;
}

sub {
    font-size: 50%;
}

#results {
    /* border:2px blue solid;*/

    margin-top: 30px;
    padding: 20px;

}